$max-widht: 1200px;
$primary-color: #9dad6f;
$white-color: #fff;
$light-color: #f4f4f4;
$medium-color: #8d8d68;
$dark-color: #333;
$mindark-color: #371717;

$navbar-color: #DC95FF;
$navbar-color-secondary: #FFBEFB;
$bg-image: url(../img/bg.jpg);
